
#canvas-puzzle {
    display: block;
    border: 2px solid #4e4e4e;
    box-sizing: border-box;
    width: 1800px; /* ЗАМЕНИТЬ */
    height: 820px;
    /* height: 495px; */
    margin: auto;
    margin-top: 23px;
}
